*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

/* css del header */
header{
    height: 80px;
    background-color: white;
}

img {
    margin-left: 10px;
    margin-top: 10px;
}

h1 {
    display: inline-block;
    font-size: 50px;
}

/* css del main */

#head-section {
    background-color: white;
    margin-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 50px;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: 0;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

#add-task{
    background-color: #66aaed;
    color: white;
}

#add-section{
    background-color: white;
    border: 1px solid lightgray;
    color: lightgrey;
}

#body-section{
    background-color: white;
    margin-top: 2px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
}

span{
    display: inline-block;
    margin-top: 10px;
    font-size: 20px;
}

.read::after{
    content:;

}

#mobile ,#sales ,#web ,#recruiting ,#goals ,.editorial{
    display: inline-block;  
    padding: 5px;
    border-radius: 15px;
    color: #ffffffff;
    font-size: 10px;
    margin-top: 10px;
}

.editorial{
    background-color: #66aaed;
}

#goals{
    background-color: #9676df;
}

#recruiting{
    background-color: #7bbcaa;
}

#mobile{
    background-color: #e7a04e;
}

#web{
    background-color: #cb6a9e;
}

#sales{
    background-color: #b4c74e;
}

#today{
    margin-top: 20px;
    margin-bottom: 20px;
}







